.col-centered
{
float: none;
margin: 0 auto;
}

.carousel-inner > .item > img 
{ 
    margin: 0 auto; 
}

.jumbotron
{
    
    background-color:#EBEBEB;
   
}

.bgimage
{
    /*background-image: url('images/bg.jpg');*/
    background-color:white;
    background-attachment:fixed;
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}

@media (max-width: 768px) {
    .affix {
        position: static;
    }
}


.jumbotron-laserCNC {
    background-image: url("../images/lasercnc.jpg");
    background-size: cover;
    background-position: 50% 60%; 
    height: 350px;
    color:gray;
}

.jumbotron-qmbt-big {
    background-image: url("../images/qmbt_big_hq.jpg");
    background-size: cover;
    background-position: 50% 60%; 
    height: 350px;
    color:gray;
}

.jumbotron-qmbt-small {
    background-image: url("../images/qmbt_small.jpg");
    background-size: cover;
    background-position: 50% 50%; 
    height: 350px;
    color:gray;
}

.jumbotron-microbit328 {
    background-image: url("../images/microbit328.jpg");
    background-size: cover;
    background-position: 50% 30%; 
    height: 350px;
    color:gray;
}

.jumbotron-other-projects {
    background-image: url("../images/other_projects.jpg");
    background-size: cover;
    background-position: 50% 60%; 
    height: 350px;
    color:gray;
}

.jumbotron-amrr {
    background-image: url("../images/AMRR_train.jpg");
    background-size: cover;
    background-position: 50% 60%; 
    height: 350px;
    color:gray;
}